.mission-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    

    padding-left: 0px;
    
}

.mission-pic{
 
    border-radius: 64px;
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 100%;
}

.mission-article-container{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-article{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.mission-article-b{

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;

}

