.dropdown-container {
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.dropdown-button {
    font-family: inherit;
    padding: 0px;
    font-size: 16px;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
}

.arrow {
    width: 20px;
    height: 20px;
    padding: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 35%;
    background-color: #f9f9f9;
    z-index: 1;
    /* Assicura che il dropdown compaia sotto il bottone */
  
    /* Allinea il dropdown con il bottone */
}

.dropdown-content a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    display: block;
}

.dropdown-container:hover .dropdown-content {
    display: inline-block;
}