.background-photo-container {
    justify-content: center;
    align-items: center;
    display: flex;

}

.background-photo {
    width: 80%;
    border-radius: 64px;
}

.main-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: #333F4C;
}

.h1 {
    line-height: 0;
    font-size: 50px;
    font-weight: 600;
    padding: 0px;
}

.h3 {
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
}

.article {
    font-size: 14px;
    width: 700px;
    font-weight: 400;
    color: #5E6771;
    text-align: center;
    line-height: 1.2;
    /* orizzontale */
}

.p {
    padding: 0px;
}