* {
    padding: 14px;
    left: 460px;

}

body {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    background-color: #F6F6F6;
    
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

